/* General styles */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #011d448f;
  }
  
  .content {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .buttonContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #055d7199;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  
  .heading {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .paragraph {
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between buttons */
  }
  
  .signup-button,
  .login-button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0446a3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, margin-top 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .signup-button:hover,
  .login-button:hover {
    background-color: #1a6cd3;
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  