.content {
  text-align: center;
  margin: 20px auto;
  max-width: 1200px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 48px;
  margin-bottom: 10px;
  color: #007bff;
}

.title {
  margin-bottom: 20px;
  font-size: 2em;
}

.buttonContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  flex: 1 1 200px;
  max-width: 300px;
  margin: 10px;
}

.signup-link,
.login-link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #007bff; /* Example background color */
  color: #fff;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow */
  margin-right: 20px; /* Example margin */
}

.signup-link:hover,
.login-link:hover {
  background-color: #0056b3; /* Darker color on hover */
}

.login-link {
  margin-right: 0; /* Remove margin-right for the last link */
}



.button:hover {
  transform: scale(1.05);
}

.landlordSection,
.tenantSection,
.sellLandSection,
.sellHomeSection {
  margin-top: 20px;
}

.paragraph {
  margin-bottom: 20px;
  font-size: 1em;
  line-height: 1.5;
}

/* Responsive Design */
@media (max-width: 768px) {
  .heading {
    font-size: 1.5em;
  }

  .button {
    padding: 10px 15px;
    font-size: 14px;
  }

  .paragraph {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 1.2em;
  }

  .button {
    padding: 10px;
    font-size: 12px;
  }

  .paragraph {
    font-size: 0.8em;
  }
}
